button {
  color: white;
  background-color: SkyBlue;
  margin: 10px;
}

button:hover {
  color: SkyBlue;
  background-color: white;
}

button:focus {
  outline: none;
}

h1 {
  font-family: 'Gotham';
  color: LightSkyBlue;
}

input[name="tweet"] {
  width: 60%;
  outline: none;
  background-color: white;

}

.feed {

}

.tweet {
  padding: 5px;
}

.username {
  font-family: Helvetica;
  font-weight: bold;
  color: black;
}

.timestamp {
  color: grey;
  font-style: italic;
  margin-left: 5px;

}

.message {
  color: #1DA1F2;
}
